@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0px;
}

*{
  font-family: "Outfit", serif;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 40px 0px;
}

.logo{
  width: 50px;
  height: 50px;
}

.logo-container{
  display: flex;
  flex-direction: row;

}

.logo-text{
  margin-top: 7px;

}
.purple{
  color: #6c3baa !important;
}

.purple-bg{
  background:#6c3baa !important;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}

.nav-container{
  padding: 0px;
}

.nav-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4px;
  margin-top: 6px;

}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 135px;
}

.nav-link{
  margin: 0 10px;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 18px;
}
.btn-nav-container{
  display: flex;
  gap: 8px;
}

.btn{
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  padding: 7px 25px;
}


.home-title-container{
  text-align: left;
}
.home-title-subtext{
  font-size: 18px;
  font-weight: 400;
  color: #0000007d;
  margin-top: 15px;
  margin-bottom: 0px;

}
.home-title-text{
  font-size: 62px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: -2px;
  margin: 0px auto 25px auto;
}



.waitlist-btn{
  background: #6c3baa;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.contact-btn{
  background: #eaeced;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}

.home-title-contact{
  background: #e9a817;
  font-size: 16px;
  font-weight: 500;
  color: #fff;

}

.home-title-waitlist{
  background: #eaeced;
  font-size: 16px;
  font-weight: 500;
  color: #222222;

}

.home-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.home-img{
  width: 1100px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;

}

.info-bar{
  width: 100%;
  background: #e9a817;
color:white;}

.info-bar-container{
  display: flex;
  flex-direction: row;
}

.info-bar-item{
  text-align: center;
  padding: 0px 15px;
  width: 33.3%;
}

.info-bar-title{
  letter-spacing: 0.4px;
}
.info-bar-icon{
  font-size: 40px;
  margin-bottom: 20px;
}

.info-bar-section-top{
  padding-top: 50px;
  padding-bottom: 30px;
}

.about-us{
  margin-top: 50px;
  height: 570px;
}


.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-lottie{
  width: 500px;
  height: 500px;
}

.oval{
  display: block;
  height: 10px;
  width: 60px;
  border-radius: 10px;
  background: #6c3baa;
}

.about-us-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title-text{
  margin-top: 10px;
  font-size: 30px;
}


.about-us-text-container{
  padding-right: 30px;
}

.about-us-text{
  margin-top: 0px;
  font-size: 18px;
}

.about-us-img{
  width: 500px;
  height: 520px;
  border-radius: 10px;
  object-fit: cover;
}

.about-us-tracker{
  font-size: 30px;
  font-weight: 600;
}

.tracker{
  background: -webkit-linear-gradient(#eee, #6c3baa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;



}

.services{
  background-color: #fbf8ff  !important;
  padding-top: 30px;
}

.section-title-subtext{
  font-weight: 400;
  font-size: 18px;
  padding-right: 200px;
}



.services-cards-container{
  padding-top: 40px;
}
.service-card{
  padding: 48px 30px;
  padding-bottom: 38px;
  width: 50%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 .275rem .75rem -0.0625rem rgba(11, 15, 25, .06), 0 .125rem .4rem -0.0625rem rgba(11, 15, 25, .03) !important;
  position: relative;
  transition: transform .2s;
}

.service-card:hover{
  transform: translateY(-2%);
  box-shadow: 0 .275rem .75rem -0.0625rem rgba(7, 9, 14, 0.06), 0 .125rem .4rem -0.0625rem rgba(11, 15, 25, .03) !important;
  transition: transform .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.services-cards-row{
  display: flex;
      flex-direction: row;
      gap: 50px;
      padding-bottom: 82px
}

.service-icon{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(108, 59, 170);
  border-radius: 10px;
  transform: translateY(-130%) !important;
  position: absolute;
  box-shadow: 0 .5rem 1.125rem -0.5rem rgb(108, 59, 170) !important;

}

.footer{
  margin-bottom: 0px;
  color: white;
  background: #210b38;
  background: -webkit-linear-gradient(314deg, #210b38 0%, #6c3baa 100%);
  background: linear-gradient(314deg, #210b38 0%, #6c3baa 100%);
  padding-bottom: 65px;
}

.footer-container{
  display: flex;
  flex-direction: row;
}

.footer-links{
  display: flex
;
    flex-direction: row;
}
.footer-links-container{
  display:flex;
  flex-direction: column;
}



.footer-title-container{
  width: 50%;
}

.footer-links{
  width: 50%;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social-link{
  color: white;
}
.footer-container{
  display: flex;
  margin-bottom: 50px;
}

.footer-title{
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer-page-link{
  margin-top: 0px;
}

.footer-links-container a{
  margin-bottom: 5px;
}

.menu{
  display: none;
}

.footer-reserved{
  position: absolute;
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.team-title-subtext{
  padding-right: 300px !important;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; /* Adjusts the spacing between grid items */

}
.team-img-item{
  text-align: center;
}

.team{
  padding-bottom: 30px;
}

.team-item-text{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}

.team-item-subtitle{
  margin-top: 0px;
}
.team-item-img{
  width: 100%;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.step-item{
  text-align: center;
    display: flex
;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;

}
.step-number{
  border-radius: 50px;
  background: #faf6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
.step-number-inner{
  background: #fff;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: flex
  ;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 800;
      box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);
}

.step-title{
  margin-bottom: 5px;
  font-size: 24px;
}

.step-subtitle{
  margin: 0px;
  padding: 0px 5px;
}
.steps-items-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}

.step-number{
  z-index: 9;
}

.step-item::after{
  width: 50%;
  height: 1px;
  background: #e2e5f1;
  content: "";
  position: absolute;
  top:calc(6rem* 0.5);
  right: 50%;
}
.step-item::before{
  width: 50%;
  height: 1px;
  background: #e2e5f1;
  content: "";
  position: absolute;
  top:calc(6rem* 0.5);
  left: 50%;
}

.step-first::after{
  display: none;
  width: 0px;
  height: 0px;
}

.step-last::before{
  display: none;
  width: 0px;
  height: 0px;
}


.ready{
  text-align: center;
  background: #fbf8ff  !important;
  padding: 80px;
}

.ready-subtitle{
  color: #0000007d;
  font-size: 23px;
  margin-bottom: 15px;
}

.ready-title{
  margin-top: 0px;
  font-size: 40px;
  font-weight: 500;
}

.ready-btn{
  padding: 14px 50px;
  font-size: 20px;
  box-shadow: 0 .5rem 1.125rem -0.5rem rgb(108 59 170 / 39%) !important
}

.nav{
  position: relative;
}


#menu-toggle{
  display: none;
}


@media (max-width: 768px) {

  .home-lottie{
    z-index: -1;
  }
  
    .logo-text {
      margin-top: 10px;
      margin-bottom: 15px;}
  
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
  }
  
  #menu-toggle {
    display: none ;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #635396;
    position: absolute;
    height: .125rem;
    width: 1.375rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 1px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -7px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 7px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  

  .nav-container{
    max-width: 100% !important;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background:#6c3baa !important;
    font-size: 18px;
    font-weight: 500;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }


}


@media (max-width: 1200px) {
  .nav-list{
    padding-left: 65px;
  }
  .home-title-text{
    font-size: 49px;
  }

  .home-lottie{
    width: 350px;
    height: 350px;
  }

  .about-us{
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .home-container{
    padding-top: 45px;
  }
  .nav-list{
    padding-left: 60px;
  }
  .nav-link{
    padding: 8px 5px;
  }
  .nav-list-container{
    padding-left: 0px;
  }
  .btn{
    padding:  7px 15px;
  }
  .home-title-text{
    font-size: 40px !important;
  }

  .home-lottie{
    width: 320px;
    height: 320px;
  }
  .about-us-content{
  }

  .about-us-img{
    width: 350px;
    height: 415px;
  }
  .about-us{
    height: 530px;
  }

  .steps-container{
    padding-top: 35px;
  }

  .team-item-img{
    height: 267px;
  }
  .section-title-subtext{
    padding-right: 0px !important ;
  }

}
@media (max-width: 768px) {
  .home-container{
    padding-top: 30px;
  }

  .nav-list-container{
    display: none;
  }
  .logo-container{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .logo-text{
    text-align: center;
    font-size: 27px;

  }

  .home-lottie{
    width: 220px;
  }

  .home-title-text{
    font-size: 35px !important;
    line-height: 1.4em;
  }

  .home-title-subtext{
    font-size: 15px;
  }

  .about-us-tracker{
    font-size: 25px;
  }

  .home-title-btn .btn{
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .home-title-waitlist{
    margin-left: 1px;
  }

  .about-us{
    height: auto;
    
  }
  .about-us-content{
    flex-direction: column;
  }
  .about-us-img{
    width: 100%;
  }
  .services{
    margin-top: -40px;
  }

  .about-us-text-container{
    padding-right: 5px;
  }

  .services-cards-row{
    align-items: center;
    flex-direction: column;
  }

  .service-card{
    width: auto;
    max-width: 100%;

  }

  .container{
    padding-left: 5px;
    padding-right: 5px;
  }

  .team-item-img{
    height: 208px;
  }

  .ready{
    padding: 45px;
  }
  .steps-items-container{
    align-items: center;
    flex-direction: column;
  }
  .step-item::after{
    width: 0px;
  }

  .step-item::before{
    width: 0px;
  }

  .step-item{
    margin-bottom: 20px;
  }

  




}

.footer-sm{
  display: none;
}

@media (max-width: 576px) {
  .home-lottie{
    width: 320px;
  }
  .home-container{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .home-title-container{
    text-align: center;
  }
  .container{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.team-img-container{
  grid-template-columns: repeat(1, 1fr);
}

.team-item-img{
  height: 280px;
}
.nav-container{
  padding: 0px !important;
}

.home-title-btn{
  display: flex
  ;
      justify-content: space-evenly;
}

.home-title-btn .btn{

  padding-right: 10px;
  padding-left: 10px;

}

.services-cards-row{
  padding-bottom: 70px;
  gap: 70px;
}

.footer-container{
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links{
  width: 100%;
  flex-direction: column;
}

.footer-links-container{
  flex-direction: row;
  gap: 5px;
}

.footer-title-container{
  width: 100%;
  margin-bottom: 20px;
}

.footer-sm{
  display: inline-block;
  margin: 0px;
  font-weight: 600;
}
.ready-btn{
  padding: 14px 50px;
}

.footer-container{
  margin-bottom: 20px;
}


}








